/* 
* @Author: Jiyun
* @Date:   2015-06-25 19:30:42
* @Last Modified by:   Jiyun
* @Last Modified time: 2015-10-09 18:38:54
*/

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.78;
    font-size: 14px;
    text-align: center;
    color: #333;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color:transparent;
    -webkit-text-size-adjust: none;
    -webkit-backface-visibility: hidden;
}

#wrap {
    padding-top: 30px;
}

h1 {
    font-weight: normal;
}

a {
    color: #3fa156;
    text-decoration: none;
}

.message {
    padding: 30px 0;
}

a.button  {
    display: inline-block();
    zoom: 1;
    vertical-align: middle;
    padding: 10px;
    background: #c00;
    color: #fff;
    border-radius: 3px;
    background: #3fa156;
    border: 1px solid #528641;
}

.mamamiya {
    padding-top: 20px;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    color: #aaa;
    font-size: 12px;
}